.cards {
  padding-top: 133px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    justify-content: center;
  }

  &__item {
    width: 196px;
    height: 312px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 180px;
    height: 227px;
    object-fit: cover;
  }

  &__item-contentb {
    margin-top: 8px;
    text-align: center;
  }

  &__title {
    color: #dc56c5;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__subtitle {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__text {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  &__svg {
    width: 7px;
    height: 10px;
    fill: #fff;
  }
}
