<section class="cards">
    <ul class="cards__list">
        <!-- CARD EXAMPLE  -->
        <li class="cards__item">
            <div class="cards__item-wrapper">
                <div class="cards__item-imageb">
                    <img src="#" alt="Concert image." class="cards__img">
                    <svg class="cards__hsvg"><use href="#"></use></svg>
                </div>
                <div class="cards__item-contentb">
                    <h1 class="cards__title">Eurovision 2021 finals!</h1>
                    <h2 class="cards__subtitle">2021-05-13</h2>
                    <p class="card__text"><svg><use href="./images/svg/symbol-defs.svg#icon-arrow"></use></svg>Palace of Ukraine</p>
                </div>
            </div>
        </li>
    </ul>
</section>